## for문
- for 변수 in 시퀀스
- for 변수 in range(정수)

In [15]:
my_string = '프로그래밍'
for str in my_string:
    print("%3s"%str)

  프
  로
  그
  래
  밍

In [10]:
print(my_string[3])

래

In [16]:
# 포맷 함수
print(format(my_string, "10s"))

프로그래밍

## 터틀 라이브러리

In [ ]:
import turtle
t = turtle.Turtle()

for count in range(6):
    t.circle(100)
    t.left(360/6)

In [ ]:
t = turtle.Turtle()
t.shape("turtle")

for i in range(3):
    t.forward(100)
    t.left(360/3)

## for each

In [21]:
adata = ['홍길동', '박기자', '이승리', '최고다']
for name in adata :
    print(format(name, '>10s'))
    print("%-10s"%name)

       홍길동
홍길동
       박기자
박기자
       이승리
이승리
       최고다
최고다

In [24]:
adata = ('홍길동', ['123', '456'], '박기자', '이승리', '최고다')    # 튜플타입
for name in adata :
    print(name)

홍길동
['123', '456']
박기자
이승리
최고다

In [53]:
bName = ["홍길동", "이승리", "최고다"]
iName = input("검색할 이름을 입력하세요.")

for sName in bName :
    if iName == sName :
        b = True
        print(iName+"은(는) 등록된 이름입니다.")
        break
    else :
        b = False

if b == False :
    print(iName+"은(는) 등록되어 있지 않습니다.")

이승리은(는) 등록된 이름입니다.